* {
    font-family: "Arial";
}
html,
body {
    height: 100%;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
h1 {
    color: aquamarine;
    font-size: 144px;
    font-weight: 300;
}